<!DOCTYPE html>
<html>
  <head>
    <title>Playlist</title>
    <link rel="stylesheet" type="text/css" href="/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>
  </head>
  <body>
      <h1>SONGS</h1>
    <div class="grid-container">
        <% songs.each do |song| %>
        <ul>
          <div class="photo">
            <img src="thumbnail_planet.jpeg" alt="planet graphic"/>
          </div>
          <li> <%= song.title %></li>
          <li> <%= song.length %></li>
          <li> <%= song.play_count %></li>
        </ul>
        <% end %>
    </div>
  </body>
</html>
