<!DOCTYPE html>
<html>
  <head>
    <title>Playlist</title>
    <link rel="stylesheet" type="css" href="css/reset.css">
    <link rel="stylesheet" type="css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
      <h1>SONGS</h1>
    <section class="song-grid">
        <% songs.each do |song| %>
        <ul>
          <img src="planet.jpg" alt="planet graphic"/>
          <li> <%= song.title %></li>
          <li> <%= song.length %></li>
          <li> <%= song.play_count %></li>
        </ul>
        <% end %>
    </section>
  </body>
</html>
