body {
      background-color: #ccffff;
      font-family: 'Raleway', sans-serif;
}

h1{
  font-size: 2em;
  text-align: center;
  font-style: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
  text-align: center;
  grid-row-gap: 25px;
}
